<div class="container">
    <div class="main">
        <video-main-component
            [video_src]="video.video_src"
            [title]="video.title"
            [author]="video.author"
            [views]="video.views"
            [likes]="video.likes"
        ></video-main-component>
        <video-description-component [description]="video.description"></video-description-component>
        <video-comments-component [comments]="video.comments"></video-comments-component>
    </div>
    <div class="cards">
        <video-sug-card-component [isFirst]="true"></video-sug-card-component>
        <hr>

        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
        <video-sug-card-component></video-sug-card-component>
    </div>
</div>