<a [href]="url" class="container">
    <img class="thumbnail" [src]="thumbnail" alt="">
    <h2 [ngClass]="{'big-title': isPrincipal}">{{ title }}</h2>
    <div class="bottom">
        <div class="author">
            <img [src]="author_profile_image" alt="">
            <div>
                <h4>{{ author_username }}</h4>
                <p>{{ views | thousandSuffix : 1 }} views ° {{ date }}</p>
            </div>
        </div>
        <p class="video_length">{{ length }}</p>
    </div>
    <div class="darker-effect"></div>
</a>