<div class="container">
    <img class="thumbnail" src="https://www.magneticmag.com/.image/t_share/MTg5MzAxOTU3ODM0MzE5NzY1/thumb-1920-1222761.jpg" alt="">
    <h2>Let's Play Elden Ring Seamless Coop - ME...</h2>
    <div class="bottom">
        <div class="author">
            <img src="https://i.pinimg.com/236x/08/53/37/085337bd3b8103cb15cf3a8c0b61701e.jpg" alt="">
            <div>
                <h4>Mateus Andrade</h4>
                <p>2.7K views ° 1 month ago</p>
            </div>
        </div>
        <p class="video_length">12:04</p>
    </div>
    <div class="darker-effect"></div>
</div>