section {
    margin: 100px 60px 0 50px;

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }

        h3 {
            font-weight: 600;
        }

        .profile_info {
            display: flex;
            align-content: center;
            gap: 10px;

            p {
                font-size: 14px;
                opacity: .7;
            }

            span {
                width: 5px;
                height: 5px;
                background: rgb(151, 151, 151);
                align-self: center;
                border-radius: 50%;
            }
        }

        button {
            padding: 8px 15px;
            margin-top: 1rem;
            background: #373737;
            color: white;
            border: 1px solid #373737;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            border-radius: 20px;
            transition: all .1s ease-in-out;

            &:hover {
                color: #373737;
                background: none;
            }
        }
    }

    ul {
        border-bottom: 1px solid #DADADA;
        display: flex;
        gap: 5rem;
        padding-left: 10%;

        li {
            font-size: 14px;
            padding-bottom: 1rem;
            border-bottom: 2px solid transparent;
            transition: all .1s ease-in-out;
            cursor: pointer;

            &:hover {
                color: black;
            }
        }

        .selected {
            border-color: #DADADA;
        }
    }
}