<a routerLink="/video/{{ video.id }}" class="card">
    <div class="thumbnail-container">
        <img [src]="video.thumbnail_url" alt="">
        <p>{{ video.ength }}</p>
    </div>
    <h2>{{ video.title }}</h2>
    <div class="info">
        <a routerLink="/profile/{{ video.author.id }}"><img [src]="video.author.profile_picture" alt=""></a>
        <div class="data">
            <a routerLink="/profile/{{ video.author.id }}"><h3>{{ video.author.username }}</h3></a>
            <p>{{ video.views | thousandSuffix : 1 }} Views ° {{ video.date }}</p>
        </div>
    </div>
</a>