<div class="header-profile">
    <img (click)="handleProfileClick()" [src]="getImage()" alt="" class="profile-img">
    <div class="profile-modal" *ngIf="isProfileModalOpen">
        <div class="header" [ngClass]="{'header-text-center': !isUserLogged}">
            <img [src]="getImage()" alt="" class="profile-img">
            <div class="header-text" [ngClass]="{'center-text': !isUserLogged}">
                <h2>{{ isUserLogged ? user_username : "User" }}</h2>
                <p *ngIf="isUserLogged">{{ user_followers }} Followers ° {{ user_videos }} Videos</p>
            </div>
        </div>
        <hr>
        <ul>
            <li *ngIf="isUserLogged">
                <a [href]="user_channel_url">
                    <i class="fa-regular fa-circle-user"></i>
                    <p>My Channel</p>
                </a>
            </li>
            <li *ngIf="isUserLogged">
                <a href="">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>Log out</p>
                </a>
            </li>
            <li *ngIf="!isUserLogged">
                <a href="">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <p>Log in</p>
                </a>
            </li>
        </ul>
    </div>
</div>