<div class="header-profile">
    <img src="https://i.pinimg.com/236x/08/53/37/085337bd3b8103cb15cf3a8c0b61701e.jpg" alt="" class="profile-img">
    <div class="profile-modal">
        <div class="header">
            <img src="https://i.pinimg.com/236x/08/53/37/085337bd3b8103cb15cf3a8c0b61701e.jpg" alt="" class="profile-img">
            <div class="header-text">
                <h2>Mateus Andrade</h2>
                <p>1.2K Followers ° 37 Videos</p>
            </div>
        </div>
        <hr>
        <ul>
            <li>
                <a href="">
                    <i class="fa-regular fa-circle-user"></i>
                    <p>My Channel</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>Log out</p>
                </a>
            </li>
        </ul>
    </div>
</div>