<nav [ngClass]="{'sidebar-small': !isSidebarExpanded}">
    <i (click)="isSidebarExpanded = !isSidebarExpanded" class="fa-solid fa-bars"></i>
    <div *ngFor="let list of items_list; index as listIndex" class="lists">
        <ul>
            <li *ngFor="let item of list.items; index as itemIndex" (click)="handleSelectItem(listIndex, itemIndex)" [ngClass]="{'active': item.selected}">
                <i [class]="item.icon"></i>
                <p>{{ item.label }}</p>
            </li>
        </ul>
        <hr>
    </div>
    <ul class="bottom-ul">
        <li><a href="/">About</a></li>
        <li><a href="/">Settings</a></li>
        <li><a href="/">Help</a></li>
    </ul>
</nav>