<nav [ngClass]="{'sidebar-small': !isSidebarExpanded}">
    <div class="sidebar-bars" (click)="isSidebarExpanded = !isSidebarExpanded">
        <span class="b-t"></span>
        <span class="b-m"></span>
        <span class="b-b"></span>
    </div>
    <div *ngFor="let list of items_list; index as listIndex" class="lists">
        <ul>
            <li *ngFor="let item of list.items; index as itemIndex" 
                (click)="handleSelectItem(listIndex, itemIndex)" 
                [ngClass]="{'active': item.selected}"
                >
                <div class="icon-wrapper">
                    <img [src]="item.icon" alt="">
                </div>
                <p>{{ item.label }}</p>
            </li>
        </ul>
        <hr>
    </div>
    <ul class="bottom-ul">
        <li><a href="/">About</a></li>
        <li><a href="/">Settings</a></li>
        <li><a href="/">Help</a></li>
    </ul>
</nav>