<section>
    <p class="label">{{ quantity }} Comments</p>
    <div class="comments">
        <add-comment-component 
        (onSuccess)="handleSuccessClick()"></add-comment-component>
        <div *ngFor="let comment of comments">
            <comment-card-component 
            [author_profile_image]="comment.author_profile_img"
            [author_channel_url]="comment.author_channel_url"
            [author_username]="comment.author_username"
            [replies_qnt]="comment.replies.length"
            [date]="comment.date"
            [likes]="comment.likes"
            (showReplies)="handleShowReplies($event)"
            [content]="comment.content"></comment-card-component>
            <div *ngIf="comment.replies.length > 0" class="replies"
                 [ngClass]="{'show-replies': isRepliesOpen}">
                <comment-card-component
                *ngFor="let reply of comment.replies"
                [isReply]="true"
                [reply_username]="comment.author_username"
                [author_profile_image]="reply.author_profile_img"
                [author_channel_url]="reply.author_channel_url"
                [author_username]="reply.author_username"
                [date]="reply.date"
                [likes]="reply.likes"
                [content]="reply.content"></comment-card-component>
            </div>
        </div>
    </div>
</section>