section {
    margin-top: 2rem;

    .label {
        margin-top: 2rem;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .comments {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
}