<div class="video_content">
    <div class="video-container">
        <video controls>
            <source [src]="video_src">
        </video>
    </div>
    <h2>{{ title }}</h2>
    <div class="video-author-container">
        <div class="author-info">
            <a routerLink="/profile/{{ author.id }}">
                <img [src]="author.profile_picture" alt="">
                <div>
                    <h3>{{ author.username }}</h3>
                    <p>{{ author.followers.length | thousandSuffix : 1 }} Followers</p>
                </div>
            </a>
            <button>FOLLOW</button>
        </div>
        <div class="video-stats">
            <p class="views">{{ views | thousandSuffix : 1 }} views</p>
            <div class="like-container" (click)="handleLikeClick()">
                <i class="fa-solid fa-hands-clapping"></i>
                <span class="vertical-line"></span>
                <p>{{ likes | thousandSuffix : 1 }}</p>
            </div>
        </div>
    </div>
</div>