<a href="/" class="card" [ngClass]="{'first-card': isFirst}">
    <div class="thumbnail-wrapper">
        <img src="https://media.istockphoto.com/id/971578384/photo/night-sky-with-stars-and-soft-milky-way-universe-as-background-or-texture.jpg?b=1&s=612x612&w=0&k=20&c=6Vx51jpJL4XMqZ9TA1wNdVyz92H4BpyKNeEzGQyhcag=" alt="">
    </div>
    <div class="info">
        <h3>Como Memorizar e Aprender mais</h3>
        <div class="author">
            <img *ngIf="isFirst" src="https://i.pinimg.com/236x/08/53/37/085337bd3b8103cb15cf3a8c0b61701e.jpg" alt="">
            <div>
                <h4>Mateus Andrade</h4>
                <p>2.7K views ° 1 month ago</p>
            </div>
        </div>
    </div>
</a>