<a href="/" class="card">
    <div class="thumbnail-wrapper">
        <img src="https://media.istockphoto.com/id/971578384/photo/night-sky-with-stars-and-soft-milky-way-universe-as-background-or-texture.jpg?b=1&s=612x612&w=0&k=20&c=6Vx51jpJL4XMqZ9TA1wNdVyz92H4BpyKNeEzGQyhcag=" alt="">
    </div>
    <div class="info">
        <h3>Como Memorizar e Aprender mais - Método de...</h3>
        <div class="author">
            <h4>Mateus Andrade</h4>
            <p>2.7K views ° 1 month ago</p>
        </div>
    </div>
</a>