header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 2rem;
    background: white;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;

    app-searchbar {
        margin-left: auto;
    }

    app-profile {
        margin-left: auto;
        position: relative;
    }
}